[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"

[packages]
scrapy = "*"
pymongo = "*"
furl = "*"
jinja2 = "*"
beautifulsoup4 = "*"
lxml = "*"

[requires]
python_version = "3.6"
platform_system = 'Linux'
